* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.product-item {
    width: 250px;
    margin: 10px;
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-bg {
    background-size: cover;
    background-position: center;
    height: 200px;
}

.title {
    margin: 2px 0 4px 0;
    font-weight: lighter;
    color: rgb(86, 92, 97);
  
}

#item-price {
    font-size: 18px;
    font-weight: 100;
}

#rating {
    margin-bottom: 4px;
}