@font-face {
  font-family: Guardian Egyptian;
  src: url(Guardian Egyptian.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
}

#grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.product-item {
    width: 250px;
    margin: 10px;
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-bg {
    background-size: cover;
    background-position: center;
    height: 200px;
}

.title {
    margin: 4px;
    font-weight: lighter;
    color: rgb(86, 92, 97);
  
}

#item-price {
    margin: 4px;
    font-size: 18px;
    font-weight: 100;
}

#rating {
    margin: 4px;
}

#nav {
    margin: 0 4%;
}

#nav-bar {
    padding: 12px 36px;
    display: flex;
    justify-content: center;
}

#search-bar {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin: 0 auto;
    background: rgb(238, 238, 238);
    border: 1px solid gray;
    border-radius: 25px;
}

#cancel {
    width: 40px;
    border: none;
    font-size: 18px;
}


#mag {
    margin: 15px;
    border: none;
}

#etsy {
    margin-left: 20px;
    height: 50px;
    color: #F1641E ;
    font-size: 40px;
    font-family: Guardian Egyptian
}

.container {
    margin: 0 auto;
}

#button {
    width: 50px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cart {
    width: 100px;

}

#dropdown ul {
    height: 7vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

a {
    color: gray;
    text-decoration: none;
    font-size: 15px;
}

#sign-in {
    border: none;
    background-color: white;

}

#cart {
    border: none;
    background-color: white;
}

.categories {
    margin-right: 5%;
    border-bottom: 1px solid rgb(187, 183, 183);
    font-size: 13px;
    display: flex;
    margin-top: 20px;
    height: 30px;
}

.filters {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    height: 35px;
}

.arrival {
    margin: 10px;
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-family: arial;
}

.any {
    margin-top: 3px;
    font-size: 11px;
}

#key {
    height: 20px;
}

#heart {
    height: 10px;
}

#arrows {
    height: 20px;
}

.top-filter-menu {
    width: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    font: inherit;
    cursor: pointer;
    outline: none;
    border-radius: 25px;
    position: relative;
    vertical-align: middle;

}

.new-badge {
    position: absolute;
    top: -7px;
    right: -10px;
    font-size: 11px;
    font-weight: bold;
    min-width: 17px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    border: 2px solid #FFFFFF;
    background: #222222;
    color: #FFFFFF;
    border-radius: 15px; 
}

.filter-button {
    margin-left: 10px;
    width: 140px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    font: inherit;
    cursor: pointer;
    outline: none;
    border-radius: 24px;
    position: relative;
    vertical-align: middle;
}

.left-filters {
    display: flex;
}


#sort-fav {
    padding: 5px;
    height: 30px;
    width: 30px;
    background: none;
    font: inherit;
    cursor: pointer;
    outline: none;
    border-radius: 24px;
    position: relative;
    vertical-align: middle;
}