@font-face {
  font-family: Guardian Egyptian;
  src: url(Guardian Egyptian.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
}

#grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.product-item {
    width: 250px;
    margin: 10px;
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-bg {
    background-size: cover;
    background-position: center;
    height: 200px;
}

.title {
    margin: 4px;
    font-weight: lighter;
    color: rgb(86, 92, 97);
  
}

.container {
    margin-top: 8px;
}

#item-price {
    margin: 4px;
    font-size: 18px;
    font-weight: 100;
}

.shipping {
    padding: 3px;
    background-color: #D8E8D8;
    border-radius: 30px;
    position: relative;
    vertical-align: middle;
}

#rating {
    margin: 4px;
}

#nav {
    margin: 0 3.8%;
}

#nav-bar {
    display: flex;
    
}

.nav-list {
    display: flex;
    list-style: none;
}

#search-box {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 1070px;
    margin-left: 15px;
    background: rgb(238, 238, 238);
    border: 1px solid rgb(189, 185, 185);
    border-radius: 25px;
    cursor: pointer;
    outline: none;
}

#search-box:hover {
    background: rgb(238, 238, 238);
    border: 2px solid rgba(0, 0, 0, 0.527);
    transition: .2s;
}

.drop-down-item {
    list-style: none;

}

.dropdown-item:hover > .dropdown-block {
    background-color:rgb(247, 245, 245);
    height: 325px;
    width: 1120%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}

.sub-sub {
    padding-top: 8px;
    text-indent: 10px;
    border-right: 1.5px solid  rgba(87, 87, 87, 1);
    display: absolute;
    width: 35%;
    left: 5px;
}

.sub-sub:hover {
    background-color: rgba(red, green, blue, alpha);
}

.drop-list-ul{
    width: 33%;
}

.drop-down-over {
    display: none;
}

.drop-list:hover > .drop-down-over {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 50px;
}

#cancel {
    width: 40px;
    border: none;
    font-size: 18px;
}

#mag {
    margin: 15px;
    border: none;
}

#etsy {
    margin-left: 20px;
    height: 50px;
    color: #F1641E ;
    font-size: 40px;
    font-family: Guardian Egyptian
}


#button {
    width: 50px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cart {
    width: 100px;
    cursor: pointer;
    outline: none;

}

#dropdown ul {
    height: 7vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

a {
    color: gray;
    text-decoration: none;
    font-size: 15px;
}

#sign-in {
    height: 30px;
    width: 70px;
    margin: 10px 8px;
    border: none;
    background-color: white;
}

#sign-in:hover {
    background: rgb(238, 238, 238);
    border: rgba(0, 0, 0, 0.527);
    border-radius: 25px;
}

#cart {
    width: 50px;
    border: none;
    background-color: white;
}

#cart:hover {
    background: rgb(238, 238, 238);
    border: rgba(0, 0, 0, 0.527);
    border-radius: 50%;
   
}

.categories {
    position: relative;
    margin-right: 5%;
    border-bottom: 1px solid rgb(187, 183, 183);
    font-size: 13px;
    display: flex;
    margin-top: 15px;
    height: 30px;
}

.menu {
    display: none;
    position: absolute;
    width: 93%;
    border: 1px solid red;
    float: left;
    list-style: none;
}

menu li {
    float: left;
}

menu li a {
    display: block;
    padding: 20px;
}

menu li a:hover {
    background-color: gray;
    transform: 0.5s;
}

.filters {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    height: 35px;
}

.arrival {
    margin: 10px;
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-family: arial;
    border: none;
}

.any {
    margin-top: 3px;
    font-size: 11px;
}

#key {
    height: 20px;
}

#heart {
    height: 10px;
}

#arrows {
    height: 20px;
}

.top-filter-menu {
    width: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    font: inherit;
    cursor: pointer;
    outline: none;
    border-radius: 25px;
    position: relative;
    vertical-align: middle;

}

.top-filter-menu {
    border: 105%;
    transition: .5s;
}

.new-badge {
    position: absolute;
    top: -7px;
    right: -10px;
    font-size: 11px;
    font-weight: bold;
    min-width: 17px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    border: 2px solid #FFFFFF;
    background: #222222;
    color: #FFFFFF;
    border-radius: 15px; 
}

.filter-button {
    margin-left: 10px;
    width: 140px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    font: inherit;
    cursor: pointer;
    outline: none;
    border-radius: 24px;
    position: relative;
    vertical-align: middle;
}

.left-filters {
    display: flex;
}

#ad-search {
    padding: .1px;
    height: 18px;
    width: 18px;
    background: none;
    cursor: pointer;
    outline: none;
    border-radius: 24px;
    position: relative;
    vertical-align: middle;
}
.sort-fav {
    padding: 5px;
    height: 30px;
    width: 30px;
    background: none;
    cursor: pointer;
    outline: none;
    border-radius: 24px;
    position: relative;
    vertical-align: middle;
}